@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>Vortex is a newly established Fitness Equipment Store which prides itself on having a wide range of fitness and performance training equipment and apparels.</p>
